mixin slider(images)
  section#slider.row
    .wrapper
      .slider
        ul.slides
          -each image in images
            li: img(src=image)
  script.
    $(window).load(function() {
      $('#slider .slider').flexslider({
        animation: "slide"
      });
    });
