/* vars */

@backgroundColor: #fff;

@textColor: #333;
@titleColor: #666;
@lineColor: #999;

@titleFont: 'Open Sans', Helvetica, Arial, sans-serif;

@linkColor: 		#05C2E8;
@linkColorOver: darken(@linkColor, 15%);

@errorColor:		#ffecec;	
@successColor:	#e9ffd9;
@warningColor:	#fff8c4;
@noticeColor:		#e3f7fc;

@media: 'media/';

@layout1024: ~"screen and (max-width: 1024px)";
@layout768:  ~"screen and (max-width: 768px)";
@layout480:  ~"screen and (max-width: 480px)";
@layout320:  ~"screen and (max-width: 320px)";
@layout240:  ~"screen and (max-width: 240px)";
