/*! 
 * 
 *  snippets
 *  - docs: https://github.com/tiko2015/snippets
 *  - autor: Jonathan Katz (tiko2015@gmail.com)
 *  - Licencia: The MIT License (MIT)
 *  
*------------------------------------------------------------- */

/* vars */

@backgroundColor: #fff;

@textColor: #333;
@titleColor: @kuler4;
@lineColor: @kuler1;

@titleFont: 'Open Sans', Helvetica, Arial, sans-serif;

@linkColor:     @kuler4;
@linkColorOver: darken(@linkColor, 15%);

@kuler1: #7F7F3B;
@kuler2: #BFBF59;
@kuler3: #FFFF76;
@kuler4: #40401E;
@kuler5: #E5E56A;

@errorColor:    #b34e4d;  
@warningColor:  #c09854;
@noticeColor:   #3986ac;
@successColor:  #458746;

@media: 'media/';

@layout1024: ~"screen and (max-width: 1024px)";
@layout768:  ~"screen and (max-width: 768px)";
@layout480:  ~"screen and (max-width: 480px)";
@layout320:  ~"screen and (max-width: 320px)";
@layout240:  ~"screen and (max-width: 240px)";

/* imports */

@import "lib/01core/mixins.less";
@import "lib/01core/normalize.less";
@import "lib/01core/typography.less";

@import "lib/02extends/grid.less";
@import "lib/02extends/css3.less";
@import "lib/02extends/buttons.less";
@import "lib/02extends/tooltip.less";
@import "lib/02extends/font-awesome.less";

@import "lib/03elements/forms.less";
@import "lib/03elements/nav.less";
@import "lib/03elements/slider.less";
@import "lib/03elements/gallery.less";
@import "lib/03elements/modal.less";

@import "themes/default/all.less";
@import "themes/default/responsive.less";

@import "themes/examples/all.less";
@import "themes/examples/responsive.less";
@import "themes/examples/print.less";