/* misc */

.clearfix () {
  *zoom: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.size (@width: 400, @height: 200) {
  width: @width * 1px;
  height: @height * 1px;
}

.hide-text () {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.opacity (@opacity: 0.5) when (isnumber(@opacity)) and not (@opacity < 0) and not (@opacity > 1) {
  zoom: 1;
  opacity: @opacity;
  filter: e(%("alpha(opacity=%d)", @opacity*100));
}

.bg(@img: "", @color: " ", @repeat: "no-repeat", @x: "0", @y: "0", @att: " ") {
    background: e(%("%s", @color)) e(%("url(%s%s)", @media, @img)) e(%("%s", @repeat)) e(%("%s", @att)) e(%("%s", @x)) e(%("%s", @y));
}