extends _layouts/docs
block nav
  script.
    $('header [href*="descargar.html"]').addClass('active');
block content
  section
    h1 Snippets
    h2 Front End Integrated Development System
    
    h3 Clone from github:
    pre
      code $ git clone code https://github.com/tiko2015/snippets.git
    h3 Using npm
    pre
      code $ npm install snippets-ws 

    .span6.span-768-12
      h3 Go to repository
      p 
        a.btn-git(href="https://github.com/tiko2015/snippets") Repository
    .span6.span-768-12
      h3 Download .zip
      p 
        a.btn(href="https://github.com/tiko2015/snippets/archive/master.zip") Download
    .span12
      h3 Quick install:
      pre
        code $ git clone https://github.com/tiko2015/snippets.git
          | $ cd snippets
          | $ npm install
          | $ node server

      
