extends _layouts/default
block nav
  header#header
    h1.logo= config.page.title
  +nav('nav', config.nav)
  +nav('nav-light', config.navejemplos)

block content
  .wrapper
    +slider(content.slides)
    section#content.span5.span-768-6
      h3 Carousel
      +carousel(content.thumbs)
      h3 Galeria a 6 columnas
      +gallery(6, content.gallery)
    .span7.span-768-6
      h3 Galeria a 4 columnas
      +gallery(4, content.gallery)
