extends _layouts/default
block content
  .wrapper
    header#header
      h1.logo= config.page.title
    +nav('nav', config.nav)
  +slider(content.slides)
  .wrapper
    section#content.span4.span-768-6
      h3 Vertical nav
      +nav('nav-vertical', [{link:'#', name:'Lorem'}, {link:'#', name:'Lorem'}, {link:'#', name:'Lorem'}, {link:'#', name:'Lorem'}])
    section#content.span4.span-768-6
      h3 Vertical nav light
      +nav('nav-vertical-light', [{link:'#', name:'Lorem'}, {link:'#', name:'Lorem'}, {link:'#', name:'Lorem'}, {link:'#', name:'Lorem'}])
    section#content.span4.span-768-12
      h3 Unordered lists
        ul
          li Lorem ipsum dolor sit amet
          li Consectetur adipisicing elit
          li Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          li Ut enim ad minim veniam
      h3 Ordered lists
        ol
          li Consectetur adipisicing elit
          li Sed do eiusmod tempor incididunt ut labore
          li Et dolore magna aliqua
