extends _layouts/home

block content
  section#home
    h1 Snippets
    h2 Front End Integrated Development System
    h3 nodejs + jade + less
    :markdown
      As a result of being able to work templates with jade and styles with less, I got the urge to create a real time compilator.

      Snippets achieves the task and also creates a custom made environment to implement it.

      Bottom line, this is a MVC emulator without a controller.

      This allows data simulation, its integration to templates, and later on, the inclusion of views and styles to any kind of project.

      This is also a generator of stats sites since,

      as it compiles and shows in real time, it creates html and CSS files that can understand any server such as Apache, Nginx and Microsoft IIS.

      Either take a look at our **[documentation](docs/)** or **[check it out](descargar.html)**.