extends _layouts/default
block content
  .wrapper
    header#header
      h1.logo= config.page.title
    +nav('nav', config.nav)
    +nav('nav-light', config.navejemplos)
  .wrapper
    section.span4
      h3 Tooltips
      h5: span(data-hint="Tooltips", class="hint hint--right hint--always") Tooltip
      h5: span(data-hint="right", class="hint hint--right hint--rounded") Tooltip rounded
      h5: span(data-hint="bounce", class="hint hint--right hint--bounce") Tooltip bounce

      h5: span(data-hint="top", class="hint hint--top") Tooltip top
      h5: span(data-hint="right", class="hint hint--right") Tooltip right
      h5: span(data-hint="bottom", class="hint hint--bottom") Tooltip bottom
      h5: span(data-hint="left", class="hint hint--left") Tooltip left

      h5: span(data-hint="error", class="hint hint--right hint--error") Tooltip error
      h5: span(data-hint="warning", class="hint hint--right hint--warning") Tooltip warning
      h5: span(data-hint="info", class="hint hint--right hint--info") Tooltip info
      h5: span(data-hint="success", class="hint hint--right hint--success") Tooltip success
    section.span8
      :markdown
        #Agregar
        
        - modal
        - accordeon
        - tabs
