/* all */

/* body
-------------------------------------------------------------- */

#wrapper { margin: 10px auto; width: 960px; }
header { padding: 10px; border-bottom: 1px solid #ccc; }
#container { margin:10px 0; padding:10px 0; border-top: 1px solid #ccc;}
#container #content {}
#container #sidebar {}
footer {clear: both;border-top: 1px solid #ccc;}

/* Header
-------------------------------------------------------------- */

header h1 {}
header ul.nav {}
header ul.nav li {}
header ul.nav li a {}

/* Content
-------------------------------------------------------------- */

#content h1 {}
#content h2 {}
#content h3 {}
#content h4 {}
#content h5 {}
#content h6 {}
#content dl {}
#content dl dt {}
#content dl dd {}

/* Sidebar
-------------------------------------------------------------- */

#sidebar h3 {}
#sidebar ul {}
#sidebar ul li {}
#sidebar ol {}
#sidebar ol li {}
#sidebar p {}
#sidebar p strong {}
#sidebar p em {}

/* Footer
-------------------------------------------------------------- */

footer ul.nav {}
footer ul.nav li {}
footer ul.nav li a {}
footer p.legal {}
footer p.legal small {}
