/* phone portrait */

#wrapper {width: 320px;}
#container #content {float: none; width: 320px; padding-right: 0; border-right: none;}
#container #sidebar {float: none; width: 320px;}

#scrollable { width: 320px; overflow: hidden; }
