extends ../_layouts/default
block nav
  header#header
    h1.logo= config.page.title
  +nav('nav', config.nav)
  +nav('nav-light', config.navejemplos)

block content
  .wrapper
    .span12
      h3 Blockquotes
      blockquote
       p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .clearfix
      .span4
        :markdown
          #Heading h1
          Aliquam eu magna augue. Etiam ultrices, dolor ac consectetur eleifend, justo est consequat leo, et dapibus nisl quam nec diam. Sed aliquet malesuada egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          
          Maecenas faucibus elit eu erat euismod tincidunt. Nunc adipiscing aliquam malesuada. Aliquam eleifend ullamcorper tempor. Donec interdum justo sit amet nisi congue fringilla. Nam bibendum bibendum massa, eu gravida nunc tincidunt vitae.
          
          Duis leo nulla, accumsan ut venenatis vel, consequat ac lectus. Donec ac quam ac nisi porttitor vehicula non ultricies lacus. Vestibulum a dictum velit. Aenean egestas laoreet eros non imperdiet. Vivamus turpis lectus, sagittis eu pulvinar in, facilisis eu nisi.
        a.more(href="#") More
      .span4
        :markdown
          ##Heading h2
          Aliquam eu magna augue. Etiam ultrices, dolor ac consectetur eleifend, justo est consequat leo, et dapibus nisl quam nec diam. Sed aliquet malesuada egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          
          Maecenas faucibus elit eu erat euismod tincidunt. Nunc adipiscing aliquam malesuada. Aliquam eleifend ullamcorper tempor. Donec interdum justo sit amet nisi congue fringilla. Nam bibendum bibendum massa, eu gravida nunc tincidunt vitae.
          
          Duis leo nulla, accumsan ut venenatis vel, consequat ac lectus. Donec ac quam ac nisi porttitor vehicula non ultricies lacus. Vestibulum a dictum velit. Aenean egestas laoreet eros non imperdiet. Vivamus turpis lectus, sagittis eu pulvinar in, facilisis eu nisi.
        a.more(href="#") More
      .span4
        :markdown
          ###Heading h3
          Aliquam eu magna augue. Etiam ultrices, dolor ac consectetur eleifend, justo est consequat leo, et dapibus nisl quam nec diam. Sed aliquet malesuada egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          
          Maecenas faucibus elit eu erat euismod tincidunt. Nunc adipiscing aliquam malesuada. Aliquam eleifend ullamcorper tempor. Donec interdum justo sit amet nisi congue fringilla. Nam bibendum bibendum massa, eu gravida nunc tincidunt vitae.
          
          Duis leo nulla, accumsan ut venenatis vel, consequat ac lectus. Donec ac quam ac nisi porttitor vehicula non ultricies lacus. Vestibulum a dictum velit. Aenean egestas laoreet eros non imperdiet. Vivamus turpis lectus, sagittis eu pulvinar in, facilisis eu nisi.
        a.more(href="#") More
    .clearfix
      .span4
        :markdown
          ####Heading h4
          Aliquam eu magna augue. Etiam ultrices, dolor ac consectetur eleifend, justo est consequat leo, et dapibus nisl quam nec diam. Sed aliquet malesuada egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          
          Maecenas faucibus elit eu erat euismod tincidunt. Nunc adipiscing aliquam malesuada. Aliquam eleifend ullamcorper tempor. Donec interdum justo sit amet nisi congue fringilla. Nam bibendum bibendum massa, eu gravida nunc tincidunt vitae.
          
          Duis leo nulla, accumsan ut venenatis vel, consequat ac lectus. Donec ac quam ac nisi porttitor vehicula non ultricies lacus. Vestibulum a dictum velit. Aenean egestas laoreet eros non imperdiet. Vivamus turpis lectus, sagittis eu pulvinar in, facilisis eu nisi.
        a.more(href="#") More
      .span4
        :markdown
          #####Heading h5
          Aliquam eu magna augue. Etiam ultrices, dolor ac consectetur eleifend, justo est consequat leo, et dapibus nisl quam nec diam. Sed aliquet malesuada egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          
          Maecenas faucibus elit eu erat euismod tincidunt. Nunc adipiscing aliquam malesuada. Aliquam eleifend ullamcorper tempor. Donec interdum justo sit amet nisi congue fringilla. Nam bibendum bibendum massa, eu gravida nunc tincidunt vitae.
          
          Duis leo nulla, accumsan ut venenatis vel, consequat ac lectus. Donec ac quam ac nisi porttitor vehicula non ultricies lacus. Vestibulum a dictum velit. Aenean egestas laoreet eros non imperdiet. Vivamus turpis lectus, sagittis eu pulvinar in, facilisis eu nisi.
        a.more(href="#") More
      .span4
        :markdown
          ######Heading h6
          Aliquam eu magna augue. Etiam ultrices, dolor ac consectetur eleifend, justo est consequat leo, et dapibus nisl quam nec diam. Sed aliquet malesuada egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          
          Maecenas faucibus elit eu erat euismod tincidunt. Nunc adipiscing aliquam malesuada. Aliquam eleifend ullamcorper tempor. Donec interdum justo sit amet nisi congue fringilla. Nam bibendum bibendum massa, eu gravida nunc tincidunt vitae.
          
          Duis leo nulla, accumsan ut venenatis vel, consequat ac lectus. Donec ac quam ac nisi porttitor vehicula non ultricies lacus. Vestibulum a dictum velit. Aenean egestas laoreet eros non imperdiet. Vivamus turpis lectus, sagittis eu pulvinar in, facilisis eu nisi.
        a.more(href="#") More
