/* all */

body { background-color: @backgroundColor; 
	.wrapper { max-width: 1200px; margin: 0 auto; }
}
#header { .column(12); text-align: center; 
	h1 { color:#fff;  .border-radius(0 0 10px 10px);
		background:#333; display:inline-block; padding:0.5em 0.15em 0.15em; margin-top:0;
		.text-shadow(0 1px 1px #999); .box-shadow(0 1px 15px 0 rgba(0,0,0,0.3));
	}
}
#slider { clear:both; background: #f1f1f1;
	.slider { .flexslider(); }
}
#container { clear:both;
	#scrollable { .column(4);
		.slider { .carousel(); }
	}
	#content { .column(4); }
	#sidebar { .column(4); }
}
#titulos { background: #f1f1f1; clear:both; padding: 20px 0; margin: 20px 0; .clearfix();
	.box { .column(4); position: relative; margin-bottom: 20px;
		&:nth-child(3n+1) { clear: left; }
	}
	.more { .mixButton(); .mixIconAfter(@icon-chevron-sign-right);  margin: 5px; }
}

#forms { clear:both; padding: 20px 0;
	.vform { .column(6); 
	>	p { .mixIcon(@icon-spinner); .mixIconSpin(); }
	}
	.hform { .column(6); }
}
#varios { background: #f1f1f1; clear:both; padding: 20px 0; .clearfix(); margin: 20px 0;
	.gallery-box { .column(6); }
	.deflist { .column(3); }
	.block { .column(3); }
	.table { .column(6); }
}
footer { clear:both; .column(12); }



