article
  h3(id="titulos") Titulos
  +nav('docs-tabs tabs', 
    [ {link:'#preview', name:"preview"}, 
      {link:'#jade', name:"jade"}, 
      {link:'#html', name:"html"}
    ])
  div.pane
    h1 heading h1
    h2 heading h2
    h3 heading h3
    h4 heading h4
    h5 heading h5
    h6 heading h6
  div.pane.code
    pre
      code
        | h1 heading h1
        | h2 heading h2
        | h3 heading h3
        | h4 heading h4
        | h5 heading h5
        | h6 heading h6
  div.pane.code
    pre
      code
        | &lt;h1>heading h1&lt;h1>
        | &lt;h2>heading h2&lt;h2>
        | &lt;h3>heading h3&lt;h3>
        | &lt;h4>heading h4&lt;h4>
        | &lt;h5>heading h5&lt;h5>
        | &lt;h6>heading h6&lt;h6>

article
  h3(id="parrafos") Parrafos
  +nav('docs-tabs tabs', 
    [ {link:'#preview', name:"preview"}, 
      {link:'#jade', name:"jade"}, 
      {link:'#html', name:"html"}
    ])
  div.pane
    p
      | Aliquam eu magna augue. Etiam ultrices, dolor ac consectetur eleifend, justo est, 
      | et dapibus nisl quam nec diam. Sed aliquet malesuada egestas. Lorem ipsum dolor, 
      | consectetur adipiscing elit.
      
  div.pane.code
    pre
      code
      | | Aliquam eu magna augue. Etiam ultrices, dolor ac consectetur eleifend, justo est, 
      | | et dapibus nisl quam nec diam. Sed aliquet malesuada egestas. Lorem ipsum dolor, 
      | | consectetur adipiscing elit.

  div.pane.code
    pre
      code
        | &lt;p>Aliquam eu magna augue. Etiam ultrices, dolor ac consectetur eleifend, justo est, 
        | et dapibus nisl quam nec diam. Sed aliquet malesuada egestas. Lorem ipsum dolor, 
        | consectetur adipiscing elit.&lt;/p>

article
  h3(id="listas") Listas
  h4 Lista desordenada
  .panels
    +nav('docs-tabs tabs', 
      [ {link:'#preview', name:"preview"}, 
        {link:'#jade', name:"jade"}
      ])
    div.pane
      ul
        li Lorem ipsum
        li Aliquam eu magna augue.
          ul
            li Lorem ipsum
            li Aliquam eu magna augue.
            li Sed aliquet malesuada egestas.
        li Sed aliquet malesuada egestas.
        
    div.pane.code
      pre
        code
          | ul
          |   li Lorem ipsum
          |   li Aliquam eu magna augue.
          |     ul
          |       li Lorem ipsum
          |       li Aliquam eu magna augue.
          |       li Sed aliquet malesuada egestas.
          |   li Sed aliquet malesuada egestas.
  h4 Lista ordenada
  .panels
    +nav('docs-tabs tabs', 
      [ {link:'#preview', name:"preview"}, 
        {link:'#jade', name:"jade"}
      ])
    div.pane
      ol
        li Lorem ipsum
        li Aliquam eu magna augue.
        li Sed aliquet malesuada egestas.
        
    div.pane.code
      pre
        code
          | ol
          |   li Lorem ipsum
          |   li Aliquam eu magna augue.
          |   li Sed aliquet malesuada egestas.
  h4 Lista con descripción
  .panels
    +nav('docs-tabs tabs', 
      [ {link:'#preview', name:"preview"}, 
        {link:'#jade', name:"jade"}
      ])
    div.pane
      dl
        dt Lorem ipsum
        dd Aliquam eu magna augue.
        dt Sed aliquet malesuada egestas.
        dd Lorem ipsum dolor, consectetur adipiscing elit.
        
    div.pane.code
      pre
        code
          | dl
          |   dt Lorem ipsum
          |   dd Aliquam eu magna augue.
          |   dt Sed aliquet malesuada egestas.
          |   dd Lorem ipsum dolor, consectetur adipiscing elit.

article
  h3(id="tablas") Tablas
  +nav('docs-tabs tabs', 
    [ {link:'#preview', name:"preview"}, 
      {link:'#jade', name:"jade"}
    ])
  div.pane
    table: thead
      tr
        th Lorem ipsum
        th Aliquam eu magna augue.
        th Sed aliquet malesuada egestas.
      tbody
        tr
          td Lorem ipsum
          td Aliquam eu magna augue.
          td Sed aliquet malesuada egestas.
        tr
          td Lorem ipsum
          td Aliquam eu magna augue.
          td Sed aliquet malesuada egestas.
        tr
          td Lorem ipsum
          td Aliquam eu magna augue.
          td Sed aliquet malesuada egestas.
      
  div.pane.code
    pre
      code
        | table: thead
        |   tr
        |     th Lorem ipsum
        |     th Aliquam eu magna augue.
        |     th Sed aliquet malesuada egestas.
        |   tbody
        |   tr
        |     td Lorem ipsum
        |     td Aliquam eu magna augue.
        |     td Sed aliquet malesuada egestas.
        |   tr
        |     td Lorem ipsum
        |     td Aliquam eu magna augue.
        |     td Sed aliquet malesuada egestas.
        |   tr
        |     td Lorem ipsum
        |     td Aliquam eu magna augue.
        |     td Sed aliquet malesuada egestas.

article
  h3(id="markdown") Markdown
  +nav('docs-tabs tabs', 
    [ {link:'#preview', name:"preview"}, 
      {link:'#jade', name:"jade"}
    ])
  div.pane
    :markdown
      # Header h1
      
      Aliquam eu magna augue. **Etiam ultrices**, dolor ac consectetur eleifend, justo est, 
      et dapibus nisl quam nec diam. Sed aliquet malesuada egestas. Lorem ipsum dolor, 
      consectetur adipiscing elit.
      
      - Lorem ipsum
      - Aliquam eu magna augue.
      - Sed aliquet malesuada egestas.
  div.pane.code
    pre
      code
        | :markdown
        |  
        |  # Header h1
        |  
        |   Aliquam eu magna augue. **Etiam ultrices**, dolor ac consectetur eleifend, justo est, 
        |   et dapibus nisl quam nec diam. Sed aliquet malesuada egestas. Lorem ipsum dolor, 
        |   consectetur adipiscing elit.
        |    
        |   - Lorem ipsum
        |   - Aliquam eu magna augue.
        |   - Sed aliquet malesuada egestas.
