extends ../_layouts/docs

block nav
  .nav-docs
    h2 Snippets
    h4 html base
    +nav('nav-elemetos', config.htmlbase)
    h4 elementos
    ul.nav-activo
      - each item in config.elementos
        li
          a(href=item.anchor)= item.name
    h4 documetos
    +nav('nav-documentos', config.documentos)

  script.
    $('header [href*="docs"]').addClass('active');
    $(function() {
      $("ul.docs-tabs").tabs("> .pane");
    });
block content
  section
    article
      h3(id="formularios") Formularios
      h4 Formulario horizontal
      .panels
        +nav('docs-tabs tabs', 
          [ {link:'#preview', name:"preview"}, 
            {link:'#jade', name:"jade"}, 
            {link:'#less', name:"less"}
          ])
        div.pane
          form.hform
            p: +formInput('text', 'nombre', 'Nombre', '')
            p: +formInput('text', 'email', 'Correo', '')
            p: +formSelect(
              'asunto', 'Pais', [
                {'name':'Argentina','value':'ar'},
                {'name':'Brasil','value':'br'}, 
                {'name':'Uruguay','value':'uy'}
              ]
            )
            p: +formTextarea('Mensaje', 'mensaje', '')
            p.checkbox: +formRadio('sexo', [{'label':'Hombre','value':'h'},{'label':'Mujer','value':'m'}])
            p.checkbox: +formCheckbox('info', 'Acepto los términos y condiciones', '1')
            p: button.button-big Enviar
        div.pane.code
          pre
            code
              | form.hform
              |   p: +formInput('text', 'nombre', 'Nombre', '')
              |   p: +formInput('text', 'email', 'Correo', '')
              |   p: +formSelect(
              |     'asunto', 'Pais', [
              |       {'name':'Argentina','value':'ar'},
              |       {'name':'Brasil','value':'br'}, 
              |       {'name':'Uruguay','value':'uy'}
              |     ]
              |   )
              |   p: +formTextarea('Mensaje', 'mensaje', '')
              |   p.checkbox: +formRadio(
              |     'sexo', 
              |     [{'label':'Hombre','value':'h'},{'label':'Mujer','value':'m'}]
              |   )
              |   p.checkbox: +formCheckbox('info', 'Acepto los términos y condiciones', '1')
              |   p: button.button-big Enviar
        div.pane.code
          pre
            code
              | [class*="button"] { .mixButton(); }
              | .button-big { .mixButtonSize(2.4); }
              | form.hform  { .mixFormHorizontal(); }

      h4 Formulario vertical
      .panels
        +nav('docs-tabs tabs', 
          [ {link:'#preview', name:"preview"}, 
            {link:'#jade', name:"jade"}, 
            {link:'#less', name:"less"}
          ])
        div.pane
          form.vform
            p: +formInput('text', 'nombre', 'Nombre', '')
            p: +formInput('text', 'email', 'Correo', '')
            p: +formSelect(
              'asunto', 'Pais', [
                {'name':'Argentina','value':'ar'},
                {'name':'Brasil','value':'br'}, 
                {'name':'Uruguay','value':'uy'}
              ]
            )
            p: +formTextarea('Mensaje', 'mensaje', '')
            p.checkbox: +formRadio('sexo', [{'label':'Hombre','value':'h'},{'label':'Mujer','value':'m'}])
            p.checkbox: +formCheckbox('info', 'Acepto los términos y condiciones', '1')
            p: button.button-big Enviar
        div.pane.code
          pre
            code
              | form.vform
              |   p: +formInput('text', 'nombre', 'Nombre', '')
              |   p: +formInput('text', 'email', 'Correo', '')
              |   p: +formSelect(
              |     'asunto', 'Pais', [
              |       {'name':'Argentina','value':'ar'},
              |       {'name':'Brasil','value':'br'}, 
              |       {'name':'Uruguay','value':'uy'}
              |     ]
              |   )
              |   p: +formTextarea('Mensaje', 'mensaje', '')
              |   p.checkbox: +formRadio(
              |     'sexo', 
              |     [{'label':'Hombre','value':'h'},{'label':'Mujer','value':'m'}]
              |   )
              |   p.checkbox: +formCheckbox('info', 'Acepto los términos y condiciones', '1')
              |   p: button.button-big Enviar
        div.pane.code
          pre
            code
              | [class*="button"] { .mixButton(); }
              | .button-big { .mixButtonSize(2.4); }
              | form.vform  { .mixFormVertical(); }
 
      h4 Alertas
      .panels
        +nav('docs-tabs tabs', 
          [ {link:'#preview', name:"preview"}, 
            {link:'#jade', name:"jade"}, 
            {link:'#less', name:"less"}
          ])
        div.pane
          .alert-box.alert-error
            span Error:
            |  Reemplaza esta alerta por tu HTML.
          .alert-box.alert-success
            span Success:
            |  Reemplaza esta alerta por tu HTML.
          .alert-box.alert-warning
            span Warning:
            |  Reemplaza esta alerta por tu HTML.
          .alert-box.alert-notice
            span Notice:
            |  Reemplaza esta alerta por tu HTML.
        div.pane.code
          pre
            code
              | .alert-box.alert-error
              |   span Error:
              |   |  Reemplaza esta alerta por tu HTML.
              | .alert-box.alert-success
              |   span Success:
              |   |  Reemplaza esta alerta por tu HTML.
              | .alert-box.alert-warning
              |   span Warning:
              |   |  Reemplaza esta alerta por tu HTML.
              | .alert-box.alert-notice
              |   span Notice:
              |   |  Reemplaza esta alerta por tu HTML.
        div.pane.code
          pre
            code
              | .alert-box { 
              |   &[class*="error"]   { .alertBox(@errorColor); }
              |   &[class*="success"] { .alertBox(@successColor); }
              |   &[class*="warning"] { .alertBox(@warningColor); }
              |   &[class*="notice"]  { .alertBox(@noticeColor); }
              | }
 
 
 
    article
      h3(id="galeria") Galería
      +nav('docs-tabs tabs', 
        [ {link:'#preview', name:"preview"}, 
          {link:'#jade', name:"jade"}, 
          {link:'#json', name:"json"},
          {link:'#less', name:"less"}
        ])
      div.pane
        +gallery(6, content.gallery)
          
      div.pane.code
        pre
          code
          | +gallery(6, content.gallery)

      div.pane.code
        pre
          code
            | {
            |  "gallery": [
            |    "/media/upload/1.jpeg",
            |    "/media/upload/2.jpeg",
            |    "/media/upload/3.jpeg",
            |    "/media/upload/4.jpeg",
            |    "/media/upload/5.jpeg",
            |    "/media/upload/6.jpeg",
            |    "/media/upload/1.jpeg",
            |    "/media/upload/2.jpeg",
            |    "/media/upload/3.jpeg",
            |    "/media/upload/4.jpeg",
            |    "/media/upload/5.jpeg",
            |    "/media/upload/6.jpeg"
            |  ]
            | }

      div.pane.code
        pre
          code
          | .gallery6  { .mixGallery(@column:6); }

    article
      h3(id="navegacion") Navegación
      h4 Navegación vertical
      .panels
        +nav('docs-tabs tabs', 
          [ {link:'#preview', name:"preview"}, 
            {link:'#jade', name:"jade"}, 
            {link:'#json', name:"json"},
            {link:'#less', name:"less"}
          ])      
        .pane
          +nav('nav-vertical', [{link:'#', name:'Lorem'}, {link:'#', name:'Lorem'}, {link:'#', name:'Lorem'}, {link:'#', name:'Lorem'}])
            
        .pane.code
          pre
            code
            | +nav('nav-vertical', content.nav)

        .pane.code
          pre
            code
              | {
              |  "nav": [ 
              |     {link:'#', name:'Lorem'}, 
              |     {link:'#', name:'Lorem'}, 
              |     {link:'#', name:'Lorem'}, 
              |     {link:'#', name:'Lorem'}
              |   ]
              | }

        .pane.code
          pre
            code
            | .nav-vertical       { .verticalNav(); }
            | // tambien podés probar definir los colores asi:
            | .nav-vertical-light { .verticalNav(@kuler2, @kuler1); }
      h4 Navegación horizontal
      .panels
        +nav('docs-tabs tabs', 
          [ {link:'#preview', name:"preview"}, 
            {link:'#jade', name:"jade"}, 
            {link:'#json', name:"json"},
            {link:'#less', name:"less"}
          ])      
        .pane
          +nav('nav', [{link:'#', name:'Lorem'}, {link:'#', name:'Lorem'}, {link:'#', name:'Lorem'}, {link:'#', name:'Lorem'}])
            
        .pane.code
          pre
            code
            | +nav('nav', content.nav)

        .pane.code
          pre
            code
              | {
              |  "nav": [ 
              |     {link:'#', name:'Lorem'}, 
              |     {link:'#', name:'Lorem'}, 
              |     {link:'#', name:'Lorem'}, 
              |     {link:'#', name:'Lorem'}
              |   ]
              | }

        .pane.code
          pre
            code
            | .nav                { .horizontalNav(); }
            | .nav-light          { .horizontalNav(@kuler2, @kuler1); }

    article
      h3(id="pasador") Pasador
      .panels
        +nav('docs-tabs tabs', 
          [ {link:'#preview', name:"preview"}, 
            {link:'#jade', name:"jade"}, 
            {link:'#json', name:"json"},
            {link:'#less', name:"less"}
          ])      
        .pane
          +slider(content.slides)
            
        .pane.code
          pre
            code
            | +slider(content.slides)

        .pane.code
          pre
            code
              | {
              |  "slides": [ 
              |     "/media/upload/1_big.jpeg", 
              |     "/media/upload/2_big.jpeg", 
              |     "/media/upload/3_big.jpeg"
              |   ]
              | }

        .pane.code
          pre
            code
            | .slider   { .flexslider(); }

    article
      h3(id="carrusel") Carrusel
      .panels
        +nav('docs-tabs tabs', 
          [ {link:'#preview', name:"preview"}, 
            {link:'#jade', name:"jade"}, 
            {link:'#json', name:"json"},
            {link:'#less', name:"less"}
          ])      
        .pane
          +carousel(content.thumbs)
            
        .pane.code
          pre
            code
            | +carousel(content.thumbs)

        .pane.code
          pre
            code
              | {
              |   "thumbs": [
              |     "/media/upload/1.jpeg", 
              |     "/media/upload/2.jpeg", 
              |     "/media/upload/3.jpeg", 
              |     "/media/upload/4.jpeg", 
              |     "/media/upload/5.jpeg", 
              |     "/media/upload/6.jpeg",
              |     "/media/upload/1.jpeg", 
              |     "/media/upload/2.jpeg", 
              |     "/media/upload/3.jpeg", 
              |     "/media/upload/4.jpeg", 
              |     "/media/upload/5.jpeg", 
              |     "/media/upload/6.jpeg"
              |   ]
              | }

        .pane.code
          pre
            code
            | .carousel { .carousel(); }
