extends ../_layouts/docs

block nav
  .nav-docs
    h2 Snippets
    h4 html base
    +nav('nav-activo', config.htmlbase)
    h4 elementos
    +nav('nav-activo', config.elementos)
    h4 documetos
    +nav('nav-activo', config.documentos)

  script.
    $('header [href*="docs"]').addClass('active');
    $(function() {
      $("ul.docs-tabs").tabs("> .pane");
    });
block content
  section
    include base
    include elm
    include docs