extends ../_layouts/default
block content
  .wrapper
    header#header
      h1.logo= config.page.title
    +nav('nav', config.nav)
    +nav('nav-light', config.navdocs)
    :markdown
      #Docs
      
      ...
