doctype 5
html(lang="es")
  head
    title= content.pageTitle
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  body
    - if(config.menu) 
      h4 también tiene menu
    h1 Jade - node template engine
    #container.col
      if content.youAreUsingJade
        p tiene un archivo json asociado
      else
        p no tiene json asociado
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
